@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
    font-family: SceneW01-Black;
    src: url(../../assets/fonts/12309.ttf);
}
.visuallyhidden
{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
html
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
   
              background: #A7E1FF;
    background-repeat: no-repeat;
}
#head {

position: absolute;

height: 80px;

width: 1160px;

/* background-color: darkgray; */

display: flex;

align-items: center;
}
.head-wrapper
{
    width: 1199px;
    display: flex;
    justify-content: center;
}

.content {
   
    height: 1025px;
    background: #A7E1FF;
    display: flex;
    align-items: center;
   
    z-index: 0;
}

.logo_zoo {
    background-image: url(../../assets/icons/logo.svg);
    background-color: transparent;
    height: 57px;
    width: 112px;
    border: 0;
    z-index: 2;
}
/* .logo_zoo:hover
 {
     cursor: pointer;
 } */
.logo {
    z-index: 2;
    
}
@media (max-width:1199px) {

    /* #head
    {
        left: 0;
        max-width: 1160px;
        margin: 0 auto;
    } */
    .logo
    {
        margin-left: 20px;
    }
    .header{
        background-size: 61%;
    }
 }
.logo:hover,.logo-foot {
    cursor: pointer;
}

.head_info {
    margin-left: 57px;
    width: 34%;
    height: 21px;
    
    display: flex;
    justify-content: space-between;
}

.head_info__element {

    text-decoration: none;
    width: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    z-index: 2;

    /* Style_2 */
    /* Inside Auto Layout */

}

.head_info__element:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.head-link {
    text-decoration: none;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

}

.head-link:hover {
    cursor: pointer;
    transform: scale(1.15);
}
.burger_menu
{display: none;}


.burger_menu,
.burger_menu::before,
.burger_menu::after {
    position: absolute;
    left: 20%;
    width: 36px;
    height: 3px;
    z-index: 4;
    background-color: black;
}

.burger_menu::before {
    left: calc(100% - 36px);
    content: "";
    transform:translateY(-10px) ;
}

.burger_menu::after {
    left: calc(100% - 36px);
    content: "";
    transform:translateY(10px)
}

@media (max-width: 1199px) {
    .nav {
        margin-left: 0px;
    }
}

@media (max-width: 639px){
.body
{
max-width: 640px;

}


.content
{
    max-width: 1200px;
}
#map
{
    left: -200px;
   background:  no-repeat top center; /*либо center center*/
    background-size: cover;
    height: 700px;
}
.header
{
    height: 80px;
    
}
#head 
{
    left: 0px;
    width: 100vw;
    height: 80px;
}
    .burger_menu {
        display: block;
        position: absolute;
        left: 88vw;
    }
    .logo_zoo
    {
        
        
    }
     .head_info {
        display: none;
    }
}





.mark {
    font-weight: 500;
    text-shadow: #70CB0E 0 0 3px;
}
.mark:hover
{
    cursor:default;
    transform: scale(1);
}

.footer
{
   position: relative;
    width: 100%;
    height: 270px;
        display: flex;
    align-items: center;
    justify-content: center;
background:
#DFF5B0;

}

.foot-wrapper
{
    display: flex;
    justify-content: center;
  
    margin: 0;   
    top: -10px;
    
    position: relative;
        background: url(../../assets/images/field.png) 100% no-repeat;
       width: 1920px;
        height: 290px;
       
}
@media (max-width: 639px){
.foot-wrapper{
    max-width: 600px;
    padding: 0 10px;
}
}

.f-main-cont
{
   
    max-width: 1160px;
    margin: 0px;
    padding: 0px;
    display: flex;
flex-direction: column;
justify-content: space-between;

}
.f-main
{   
    
    width: 1159.35px;
}
.fup
{
    height: 57px;
    position: relative;
    top: 97px;
    left: -7px;
}

.logo_zoo-foot{
    background-image: url(../../assets/icons/logof.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 98px;
    border: 0;
   
}
.logo_zoo-foot:hover
{
    cursor: pointer;
}
.logo_zoo-foot:active, /* FOR FUTURE BUTTON OUTLINING*/
.logo_zoo-foot:focus {
    outline: none;
}
.logo_zoo:hover, .logo:hover
{
    cursor: pointer;
}
.logo_zoo:active, /* FOR FUTURE BUTTON OUTLINING*/
.logo_zoo:focus
{
    outline: none;
}

.foot-button {
   top: 1px;
   background: #70CB0E;
   border-radius: 30px;
   border: 0px;
   position: absolute;
   left: 198px;
   width: 230px;
   height: 50px;
}
.foot-am
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 57px;
    position: absolute;
    left: 590px;
    top: 2px;
}
.foot-cf
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 759px;
    top: 2px;
    width: 87px;
    height: 57px;
}
.foot-link {
    text-decoration: none;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.foot-link:hover
{
    cursor: pointer;
    transform: scale(1.15);
}
.foot-media
{
    position: absolute;
    right: 0;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 190px;
}
.one_link
{
    height: 40px;
    width: 41px;
    text-decoration: none;
    display: block;
    transition: all 0.1s ease-in;
}
.one_link:hover
{
    transform: scale(1.15);
}
.media_link
{
    list-style: none;
    transition: all 0.1s ease-in;
}
.inst
{
    background-image: url(../../assets/icons/Insta.png);
}
.fb
{
    background-image: url(../../assets/icons/Facebook.png);
}
.twit
{
    background-image: url(../../assets/icons/Twitter.png);
}
.tube
{
    background-image: url(../../assets/icons/Youtube.png);
}
.media_link:hover
{   
    cursor: pointer;
    transform: scale(1.15);
}
.fdown
{
    height: 50px;
    bottom: 21px;
    left: -7px;
position: relative;
}
.RS
{
    height: 50px;
    width: 141px;
margin-bottom: 0px;
margin-left: 0px;
}
.RS-pic
{
    height: 50px;
    width: 141px;
}
.YEM
{
    height: 50px;
    width: 97px;
    position: absolute;
    bottom: 0px;
    left: 199px;
}
.YEM-pic
{
    height: 50px;
    width: 97px;
}
.copyright
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 72px;
    position: absolute;
    left: 300px;
    bottom: 0px;
}
.author
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 210px;
   
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.foot-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.head-play__button__play {
    width: 34px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 2px;
    color: #000000;
}
.hiw,.paf,.tstm,.piz
{
    margin-left: 9px;
}
#map
{
    position: relative;
    background: no-repeat;
    background-image: url(../../assets/images/map.svg);
    display: flex;
    margin-top: 77px;
    /* width: 1160px; */
    height: 749px;
    z-index: 7;
}
.container
{
    max-width: 1160px;
    width: 1159px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width:1199px) {
.content
{
    position: relative;
    width: 1200px; 
}
.header
{
    left: 0px;
    max-width: 1160px;
}
#map
{
    
    height: 800px;
}
.content
{
    padding-top: 80px;
    height: 800px;
}
   
    
 }
 @media (max-width:1199px) and (min-width:641px){
 #head
 {
     left: 0px;
     width: 1200px;
 }
}
 
 @media (max-width: 1198px) and (min-width: 320px)
 {
    .footer
    {
        height: 355px;
        width: 1199px;
    }
    .foot-wrapper
    {
        
    }
   
    .fup
    {
        top: 20px;
    }
    .logo-foot
    {
        top: 36px;
        position: relative;
        left: 4px;
    }
    .fdown
    {
        position: relative;
        bottom: 78px;
        left: -5px;
    }
    .foot-button
    {
        position: relative;
        top: 126px;
        width: 210px;
        left: 290px;
    }
    .foot-am
    {
        left: 158px;
        top: 38px;
    }
    .foot-cf
    {
        left: 262px;
        top: 38px;
    }
    .foot-media
    {
        left: 372px;
        top: 20px;
    }
.YEM
{
    position: relative;
    left: 216px;
    bottom: 50px;
}
.copyright
{
    position: relative;
    bottom: -33px;
    left: 25px;
}
.author
{
   margin-left: 0px;
   position: relative;
    bottom: 0px;
    left: -275px;
}
 }
 @media (max-width:480px) {
.burger_menu
{
    left: 86%;
} 
}
 @media (max-width:320px) {
    
    .footer
    {
        height: 720px;
        width: 1200px;
       
    }
    .burger_menu
    {
        left: 86%;
    }
    .foot-wrapper
    {
        top: 30px;
        left: 0;
    }
   .f-main-cont
   {
       height: 720px;
       position: relative;
       top: -200px;
       left: -15px;
   }
    .fup
    {
        top: 20px;
    }
    .logo-foot
    {
        top: 15px;
        position: relative;
        left: 107px;
    }
    .fdown
    {
        position: relative;
        bottom: 8px;
        left: 50px;
    }
    .foot-button
    {
        position: relative;
        top: 273px;
        width: 210px;
        left: -50px;
    }
    .foot-am
    {
        left: 134px;
        top: 115px;
    }
    .foot-cf
    {
        left: 113px;
        top: 186px;
    }
    .foot-media
    {
        left: 22px;
        top: 378px;
    }
.YEM
{
    position: relative;
    left: 153px;
    bottom: 208px;
}
.RS
{
    position:relative;
    left: -50px;
    bottom: 158px;
}
.copyright
{
    position: relative;
    bottom: 128px;
    left: -57px;
    width: 10px;
}
.author
{
   margin-left: 0px;
   position: relative;
    bottom: 158px;
    left: -470px;
}
.content
{
    position: relative;
    width: 1200px; 
}
#map
{
    top: -50px;
    left: -250px;
    background-size: cover;
    height: 750px;
}
}
.USA
{
  
    position: absolute;
    left: -39px;
top: 184px;
}
.USA-pic
{
    
    height: 271px;
    width: 331px;
}
.China
{
  
    position: absolute;
    left: 744px;
    top: 313px;
}
.China-pic
{
    
    height: 143px;
    width: 200px;
}
.DRC
{
  
    position: absolute;
    left: 546px;
top: 496px;
}
.DRC-pic
{
    
    height: 64px;
    width: 62px;
}
.point
{
    position: absolute;
    height: 33.39px;
    width: 26.8px;
}
.eag
{
bottom: 48px;
left: 146px;
}
.allig
{
    bottom: 44px;
    right: 34px;
}
.monke
{
    top: -1px;
 left: 34px;
}
.panda
{
    left: 106px;
    top: 71px;
}
.the-animal
{
    position: absolute;
    height: 64px;
    width: 64px;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
}
.the-animal:hover
{
    
    border: 2px solid #70CB0E;
    border-radius: 34px;
    background-color:  #70CB0E;
    box-shadow: 0 0 0 2px  #70CB0E;
    
}
.the-animal .tooltiptext
{
    visibility: hidden;
    display: flex;
    align-items: center;
    background-color: #70CB0E;
    color: rgb(0, 0, 0);
    text-align: center;
   
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
}
.the-animal .tooltip-triang
{   
    position: absolute;
    visibility: hidden;
    height: 9px;
    width: 9px;
}
.eagle-pic .tooltip-triang 
{
    transform: scaleX(-1);
    right: 68px;
    top: 27px;
}
.allig-pic .tooltip-triang 
{
    
    left: 68px;
    top: 27px;
}
.monke-pic .tooltip-triang 
{
    
    left: 68px;
    top: 27px;
    
}
.panda-pic .tooltip-triang 
{
    
    left: 68px;
    top: 27px;
}
.the-animal:hover .tooltip-triang
{
    visibility: visible;
}
.the-animal:hover .tooltiptext {
    visibility: visible;
}

.eagle-pic .tooltiptext
{
    width: 108px;
    height: 47px;
    top: 3px;
    right: 73px;
}

.allig-pic .tooltiptext
{
    width: 102px;
    height: 47px;
    top: 3px;
    left: 77px;
}
.monke-pic .tooltiptext
{
    width: 102px;
    height: 47px;
    top: 3px;
    left: 72px;
}
.panda-pic .tooltiptext
{
    width: 100px;
    height: 47px;
    top: 3px;
    left: 73px;
}
.eagle-pic
{
    
    background-image: url(../../assets/icons/the-eagle.png);
    bottom: -4px;
    left: 35px;
}
.allig-pic
{
    background-image: url(../../assets/icons/the-allig.png);
    bottom: -14px;
    right: -75px;
}
.monke-pic
{
    background-image: url(../../assets/icons/the-monke.png);
    bottom: -8px;
    left: 28px;
}
.panda-pic
{
    background-image: url(../../assets/icons/the-panda.png);
    bottom: -16px;
    right: -45px;
}

.egel
{   
    position: absolute;
    left: 20px;
    bottom: 35px;
    width: 49px;
    height: 19px;
}
.alig
{   
    right: -135px;
    bottom: 27px;
    position: absolute;
    width: 86px;
    height: 19px;
}
.goril
{   
    left: 142px;
    bottom: 32px;
    position: absolute;
    width: 64px;
    height: 19px;
}
.pand
{   
    right: -64px;
    bottom: 14px;
    position: absolute;
    width: 52px;
    height: 38px;
}
.country
{
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
text-align: center;

}
.USAc
{
left: 201px;
bottom: 77px;
}
.DRCc
{
    height: 61px;
    width: 38px;
    left: -73px;
    top: 13px;
   
font-style: normal;

font-size: 18px;
line-height: 21px;
text-align: center;
}
.Chinac
{
    left: 50px;
    top: 64px;
}
