@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
    font-family: SceneW01-Black;
    src: url(../../assets/fonts/12309.ttf);
}


@media (max-width:1919px){
    html
    {
        overflow-x: hidden;
        width: 100%;   
    }
}
.visuallyhidden
{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


#head {
    position: relative;
    left: -70px;
    height: 80px;
    
    /* background-color: darkgray; */
    display: flex;

    align-items: center;
}

.header {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 698px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 84.12%;
              background: radial-gradient(71.89% 152.21% at 40.1% 50%, #B5E6FF 0%, #59C3FB 100%);
    background-repeat: no-repeat;
}
.head-wrapper
{
    width: auto;
    display: flex;
    justify-content: center;
    background: 
    url(../../assets/images/drops1.png) 734px no-repeat,
                      url(../../assets/images/panda\ 1.svg) 796px 55px no-repeat,
                      url(../../assets/images/drops2.png) 149px no-repeat;
}
/* .panda-pic {

    position: absolute;
    left: 866px;
    top: 55px;
    background-size: 696px 689px;
    background-image: url(../../assets/images/panda\ 1.svg);
    background-repeat: no-repeat;
    height: 692px;
    width: 693px;
}

.bubble-1 {
    top: -2px;
    position: absolute;
    left: 220px;
    background-image: url(../../assets/images/drops2.png);
    background-repeat: no-repeat;
    height: 905px;
    width: 1046px;
}

.bubble-2 {
    left: -60px;
    bottom: -15px;
    position: absolute;
    background-image: url(../../assets/images/drops1.png);
    background-repeat: no-repeat;
    height: 764px;
    width: 834px;
} */
.logo_zoo {
    background-image: url(../../assets/icons/logo.svg);
    background-color: transparent;
    height: 57px;
    width: 112px;
    border: 0;
    z-index: 2;
}
/* .logo_zoo:hover
 {
     cursor: pointer;
 } */
.logo {
    z-index: 2;
    margin-left: 380px;
}

.logo:hover,.logo-foot {
    cursor: pointer;
}

.head_info {
    margin-left: 57px;
    width: 409px;
    height: 21px;
    
    display: flex;
    justify-content: space-between;
}

.head_info__element {

    text-decoration: none;
    width: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    z-index: 2;

    /* Style_2 */
    /* Inside Auto Layout */

}

.head_info__element:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.head-link {
    text-decoration: none;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

}

.cover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
  }
  #form-feed
  {
    height: 336px;
    width: 470px;
    margin-top: 50px;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-feedback {
    width: 630px;
    height: 436px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    z-index: 100;
  
    top: calc(50vh - 220px);
    left: calc(50vw - 340px);
  
    background-color: #ffffff;
  }
  #name-feedback
  {
    border: 1px solid #9CA498;
      width: 470px;
      height: 40px;
      background: #DFF5B0;
      margin-bottom: 8px;
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
  }
  #email-feedback
  {
    border: 1px solid #9CA498;
      width: 470px;
      height: 40px;
      background: #DFF5B0;
      margin-bottom: 8px;
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
  }
  #text-feedback
  {
    border: 1px solid #9CA498;
      width: 470px;
      height: 180px;
      background: #DFF5B0;
      margin-bottom: 20px;
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
  }
  #name-feedback,#text-feedback,#email-feedback:focus
  {
    outline: none;
  }
  #submit-feedback {
        width: 177px;
        height: 50px;
        background: #70CB0E;
        border-radius: 30px;
        border: 0px;
        font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
  }
  #submit-feedback:hover
  {
    cursor: pointer;
  }
  #submit-feedback.invalid {
    background-color:  #60cb0e83;
  }
  #submit-feedback.invalid:hover
  {
      cursor: default;
  }

  
  .hidden {
    display: none;
  }
  body.notScrollable {
    overflow-y: hidden;
  }
    




  #form-don
  {
    
    width: 470px;
    margin-top: 50px;
    
    display: flex;
    flex-direction: column;
    
  }
  .form-donat {
    width: 630px;
    height: 339px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    z-index: 100;
  
    top: calc(50vh - 220px);
    left: calc(50vw - 340px);
  
    background-color: #ffffff;
  }
  #value-donat
  {
    border: 1px solid #9CA498;
      width: 303px;
      height: 39px;
      margin-right: 8px;
      margin-bottom: 8px;
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

font-size: 16px;
line-height: 19px;
  }
  #value-donat::placeholder {
    text-align: center;
}
  .form-money
  {
      display: flex;
  }
  #text-donat
  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9CA498;
      width: 472px;
      height: 85px;
      margin-bottom: 20px;
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
  }
  #text-donat::placeholder
  {
    padding-left: 20px;
    padding-top: 10px;
  }
  .borger
  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      height:39px;
      width: 476px;
      margin-bottom: 8px;
      border: 1px solid #9CA498;
      background-color: #DFF5B0;
  }
  .donat-usd
  {
      margin-top: 5px;
      height: 39px;
      width: 159px;
      display: flex;
      justify-content: center;
      align-items: center;
     
 
  }

  #text-donat,#value-donat,.donat-selected-animal,#email-feedback:focus
  {
    outline: none;
  }
  #submit-donat {
        width: 177px;
        height: 50px;
        background: #70CB0E;
        border-radius: 30px;
        border: 0px;
        font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
  }
  #submit-donat:hover
  {
      cursor: pointer;
  }
  
  #submit-donat.invalid {
    background-color:  #60cb0e83;
    
  }
  #submit-donat.invalid:hover
  {
      cursor: default;
  }
  
 
  .form-donat.hidden {
    display: none;
  }

#donat-pick-animal
{
    height:39px;
    width: 476px;
    margin-bottom: 8px;
    border: 1px solid #9CA498;
    background-color: #DFF5B0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donat-animal
{
    display: flex;
      justify-content: center;
      align-items: center;
    height:39px;
    width: 476px;
    margin-bottom: 8px;
    border: 1px solid #9CA498;
    background-color: #DFF5B0;
}
.donat-selected-animal
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:39px;
    width: 478px;
    margin-bottom: 8px;
    margin-left: -4px;
    border: 1px solid #9CA498;
    background-color: #DFF5B0;
}
.currency
{
      font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
    background: white;
    margin-top: 8px;
    margin-left: 1px;
    height: 43px;
    padding-left: 0%;
    margin-top: 2px;
}
.closeBtn,.closeBtnB,.closeBtnD
{
    border: white;
    width: 27px;
    height: 27px;
    background-color: white;
    right: 15px;
    top: 15px;
    position: absolute;
    background-image: url(../../assets/icons/close.svg);
}
.closeBtn,.closeBtnB,.closeBtnD:hover
{
    cursor: pointer;
}
.form-bank {
    width: 630px;
    height: 389px;
  
    position: fixed;
    z-index: 100;
    background: url(../../assets/icons/Pay_2.svg);
    top: calc(50vh - 220px);
    left: calc(50vw - 340px);
  
    background-color: #ffffff;
  }
  .form-bank.hidden
  {
      display: none;
  }

#bank-pay {
    position: absolute;
    bottom: 40px;
    left: 240px;
    width: 150px;
    height: 40px;
    background: #70CB0E;
    border-radius: 30px;
    border: 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
}
#bank-pay.invalid
{
    background-color:  #60cb0e83;
}
#bank-pay:hover
{
    cursor: pointer;
}
#bank-pay.invalid:hover
{
    cursor: default;
}
.bank-field
{
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* Style_6 */

border: 1px solid #9CA498;
color: #9CA498;
    height: 37px;
    display: flex;
    
    position: absolute;
    z-index: 1000;
}
.bank-field.card-number
{
    width: 306px;
    top: 85px;
    left: 76px;
}
.bank-field.month
{
    width: 80px;
    top: 133px;
    left: 76px;
}
.bank-field.year
{
    width: 80px;
    top: 133px;
    left: 166px;
}
.bank-field.cardholder
{
    width: 306px;
    top: 181px;
    left: 76px;
}
.bank-field.cvc
{
    width: 75px;
    height: 31px;
    top: 173px;
    left: 469px;
}
.bank-field:focus
  {
    outline: none;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  






.head-link:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.mark {
    font-weight: 500;
    text-shadow: #70CB0E 0 0 3px;
}
.mark:hover
{
    cursor:default;
    transform: scale(1);
}


.head-text {
    height: 252px;
    width: 570px;
   
    font-family: SceneW01-Black, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 120%;
    /* or 84px */

    letter-spacing: 0.03em;

    /* Style_2 */
    right: 648px;
    top: 207px;
position: relative;
    color: #000000;

}

.head-play__button {
    width: 233px;
    height: 51px;
position: relative;
top: 510px;
right: 1217px;
    background: #70CB0E;
    border-radius: 30px;
    border: 0px;
   

}

.head-play__button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.head-play__button:active, /* FOR FUTURE BUTTON OUTLINING*/
.head-play__button:focus
{
    outline: none;
}
.head-play__button__play {
    width: 34px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 2px;
    color: #000000;
}

.head-play__triangle {
    margin-left: 3px;
    margin-top: 3px;
}

.hiw {
    width: auto;
    height: 983px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw__label {
    margin-top: 100px;
    width: 233px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.hiw__animals {
    margin-top: 29px;
    width: 1365px;
    height: 549px;
    background-image: url(../../assets/images/ashes.svg);
    background-repeat: no-repeat;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hiw__animal
{
    list-style-type: none;
    position: absolute;
    width: 250px;
    height: 350px;
}
.sl {
    z-index: 1;
left: 9px;
}
.sr
{
    z-index: 1;
    left: 1130px;
}
.md
{
    left: 570px;
   transform: scale(1.4, 1.286);
    z-index: 3;
}

.ml {
    left: 264px;
    transform: scale(1.2, 1.143);
    z-index: 2;
    
}
.mr {
    transform: scale(1.2, 1.143);
    right: 280px;
    z-index: 2;
}



.hiw__app-descr {
    margin-top: 17px;
    width: 60%;
    height: 126px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    overflow-y: hidden;
    text-align: center;

    /* Style_2 */

    
}
.piz
{
    
    width: auto;
    height: 1058px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-but
{
    padding: 0;
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 630px;
}
.piz__animals
{
    position: absolute;
    left: 88px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap:30px ;
    grid-template-columns: repeat(4, 1fr);
}
.piz__animal
{
    height: 300px;
    width: 233px;
}
.piz__animal:hover

{
   transform: scale(1.086,1.1);
    cursor: pointer;
}
.piz-button {
    background: #70CB0E;
    border-radius: 30px;
    border: 0px;
    position: relative;
    left: -2px;
    top: 50px;
    width: 283px;
    height: 51px;

}
.piz-arrow
{
   
    background-color: transparent;
    border:0px;
}
.piz-arrow:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.piz-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.piz-button:active, /* FOR FUTURE BUTTON OUTLINING*/
.piz-button:focus
{
    outline: none;
}
.paf
{
    position: relative;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paf-content
{
    height: 273px;
    width: 1052px;
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
}
.ash-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 276px;
    width: 320px;
    position: relative;
}
.paf-arrow
{
    position: absolute;
    height: 501.63px;
    width: 580.48px;
  top: 14px;
 
    padding: 0;
    background-image: url(../../assets/images/Arrow.png);
}
.paf-ash
{
    padding-top: 35px;
    background-image: url(../../assets/images/ash-left.png);
    background-repeat: no-repeat;
    width: 205px;
    height: 195px;
    transform: rotate(-23);
    display: flex;
    justify-content: center;
    position: relative;
   
}
.paf-ash-front
{
    position: absolute;
    height: 151px;
   
}
.card
{
    top: 20px;
    width: 143px;
    left: 33px;
}
.zoo
{
    left: 33px;
    top: 20px;
    width: 148px;
}
.panda
{
    left: 42px;
    top: 27px;
    width: 124px;
}
.paf-ash-descr
{
    
    position: absolute;
    bottom: -1px;
    left: 3px;
    width: 320px;
    height: 38px;
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align:center;
}
.tstm
{
    height: 797px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tstm-but
{
    padding: 0;
    margin-top:80px;
    margin-left: 2px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    height: 369px;
}
.tstm-container
{
    position: absolute;
    left: 88px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap:30px ;
    grid-template-columns: repeat(4, 1fr);
}

.tstm-button {
    background: #70CB0E;
    border-radius: 30px;
    border: 0px;
    position: relative;
    left: -2px;
    top: 50px;
    width: 246px;
    height: 51px;

}
.tstm-arrow
{ 
    background-color: transparent;
    border:0px;
}
.tstm-arrow:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.tstm-item
{
    position: relative;
    background: #A7E1FF;
    height: 369px;
    width: 233px;
}
.tstm-item-pic
{
    position: absolute;
    height: 52px;
    width: 52px;
    left: 20px;
    top: 22px;
}
.one
{
    background-image: url(../../assets/icons/one.png);
}
.two
{
    background-image: url(../../assets/icons/two.png);
}
.three
{
    background-image: url(../../assets/icons/three.png);
}
.four
{
    background-image: url(../../assets/icons/four.png);
}
.tstm-item-block
{
    position: absolute;
    top: 30px;
    left: 81px;
    width: 109px;
    height: 37px;
   
}
.tstm-item-text
{
    position: absolute;
    top: 92px;
    left: 19px;
    height: 247px;
    width: 193px;
 
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
}
.tstm-item-name
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* or 19px */
    text-align: center;
    position: absolute;
    height: 19px;
}
.onen
{
    width: 109px;
}
.twon
{
    width: 81px;
}
.threen
{
    width: 87px;
}
.fourn
{
    width: 72px;
}
.tstm-coin
{
    position: absolute;
    left: 0px;
    bottom: 1px;
    height: 12px;
    width: 12px;
 
    background-image: url(../../assets/icons/money.png);
}
.tstm-value
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* or 14px */
    text-align: center;
    position: absolute;
    
    left: 15px;
    bottom: 1px;
    height: 14px;
    width: 28px;
}
.footer
{
   position: relative;
    width: 100%;
    height: 270px;
        display: flex;
    align-items: center;
    justify-content: center;
background:
#DFF5B0;

}

.foot-wrapper
{
    display: flex;
    justify-content: center;
  
    margin: 0;   
    top: -10px;
    right: -15px;
    position: relative;
        background: url(../../assets/images/field.png) 100% no-repeat;
        width: 1872px;
        height: 290px;
}
.f-main-cont
{
   

    display: flex;
flex-direction: column;
justify-content: space-between;

}
.f-main
{   
    
    width: 1159.35px;
}
.fup
{
    height: 57px;
    position: relative;
    top: 97px;
    left: -7px;
}

.logo_zoo-foot{
    background-image: url(../../assets/icons/logof.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 50px;
    width: 98px;
    border: 0px;
   
}
.logo_zoo-foot:hover, .logo-zoo:hover
{
    cursor: pointer;
}
.logo_zoo-foot:active, /* FOR FUTURE BUTTON OUTLINING*/
.logo_zoo-foot:focus
{
    outline: none;
}
.logo_zoo:hover, .logo:hover
{
    cursor: pointer;
}
.logo_zoo:active, /* FOR FUTURE BUTTON OUTLINING*/
.logo_zoo:focus
{
    outline: none;
}

.foot-button {
   top: 1px;
    background: #70CB0E;
    border-radius: 30px;
    border: 0px;
position: absolute;
left: 198px;
    
    width: 230px;
    height: 50px;

}
.foot-am
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 57px;
    position: absolute;
    left: 590px;
    top: 2px;
}
.foot-cf
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 759px;
    top: 2px;
    width: 87px;
    height: 57px;
}
.foot-link {
    text-decoration: none;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.foot-link:hover
{
    cursor: pointer;
    transform: scale(1.15);
}
.foot-media
{
    position: absolute;
    right: 0;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 190px;
}
.one_link
{
    height: 40px;
    width: 41px;
    text-decoration: none;
    display: block;
    
}
.one_link:hover
{
    
}
.media_link
{
    list-style: none;
    
}
.inst
{
    background-image: url(../../assets/icons/Insta.png);
}
.fb
{
    background-image: url(../../assets/icons/Facebook.png);
}
.twit
{
    background-image: url(../../assets/icons/Twitter.png);
}
.tube
{
    background-image: url(../../assets/icons/Youtube.png);
}
.media_link:hover
{   
    cursor: pointer;
    
}
.fdown
{
    height: 50px;
    bottom: 21px;
    left: -5px;
position: relative;
}
.RS
{
    height: 50px;
    width: 141px;
margin-bottom: 0px;
margin-left: 0px;
}
.YEM
{
    height: 50px;
    position: relative;
    width: 97px;
    left: 197px;
    bottom: 50px;
}
.copyright
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 72px;
    position: absolute;
    left: 300px;
    bottom: 0px;
}
.author
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-left: 210px;
   
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.foot-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.tstm-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.hiw,.paf,.tstm,.piz
{
    margin-left: 19px;
}
@media (max-width:1199px) {
    .header
    {
        left: 0px;
        max-width: 1200px;
    }    
    .sidebar
    {
        display: none;
    }
     }
     @media (max-width:1200px) and (min-width:641px){
     #head
     {
         left: 0px;
         width: 1200px;
     }
     
    }
    @media (max-width: 640px) and (min-width: 320px)
     {
        .logo
        {
            margin-left: -40vw;
        }
         #head
         {
        
           
            height: 80px;
         }
        .head-text
        {
           width: 214px;  
           height: 180px; 
          left: -61vw;
         font-size: 50px;
          top: 130px;
        }
        .head-play__button
        {
            right: 95vw;
        }
       
        .footer
        {
            height: 355px;
            width: 1199px;
        }
        .fup
        {
            top: 20px;
        }
        .logo-foot
        {
            top: 36px;
            position: relative;
            left: 4px;
        }
        .fdown
        {
            position: relative;
            bottom: 78px;
            left: -5px;
        }
        .foot-button
        {
            position: relative;
            top: 126px;
            width: 210px;
            left: 290px;
        }
        .foot-am
        {
            left: 158px;
            top: 38px;
        }
        .foot-cf
        {
            left: 262px;
            top: 38px;
        }
        .foot-media
        {
            left: 372px;
            top: 20px;
        }
    .YEM
    {
        position: relative;
        left: 216px;
        bottom: 50px;
    }
    .copyright
    {
        position: relative;
        bottom: -33px;
        left: 25px;
    }
    .author
    {
       margin-left: 0px;
       position: relative;
        bottom: 0px;
        left: -275px;
    }
     }
     @media (max-width:1199px) and (min-width:640px)
     {
        .logo
        {
            margin-left: 20vw;
        }
         #head
         {
        
           
            height: 80px;
         }
        .head-text
        {
           width: 214px;  
           height: 180px; 
          left: -76vw;
         font-size: 50px;
          top: 130px;
        }
        .head-play__button
        {
            right: 95vw;
        }
       
     }
     
     .burger_menu
{display: none;}


.burger_menu,
.burger_menu::before,
.burger_menu::after {
    position: absolute;
    left: 20%;
    width: 36px;
    height: 3px;
    z-index: 4;
    background-color: black;
}

.burger_menu::before {
    left: calc(100% - 36px);
    content: "";
    transform:translateY(-10px) ;
}

.burger_menu::after {
    left: calc(100% - 36px);
    content: "";
    transform:translateY(10px)
}
@media (max-width: 639px){
    .body
    {
    max-width: 640px;   
    }
    
    #head 
    {
        left: 0px;
        width: 100vw;
        height: 80px;
    }
  
    .logo
    {
        margin-left: 38%;
    }
        .burger_menu {
            display: block;
            position: absolute;
        left: 125vw;
        }
         .head_info {
            display: none;
        }
    }
     /* @media (max-width:480px) {
    .burger_menu
    {
        left: 86%;
    } 
    } */
     @media (max-width:320px) {
        .logo
        {
            margin-left: 75vw;
        }
         #head
         {
        
           
            height: 80px;
         }
        .head-text
        {
           width: 214px;  
           height: 180px; 
          left: -26vw;
         font-size: 50px;
          top: 130px;
        }
        .head-play__button
        {
            right: 95vw;
        }
        .footer
        {
            height: 720px;
            width: 1200px;
           
        }
        .burger_menu
        {
            left: 153%;
        }
        .foot-wrapper
        {
            top: 30px;
            left: 0;
        }
       .f-main-cont
       {
           height: 720px;
           position: relative;
           top: -200px;
           left: -15px;
       }
        .fup
        {
            top: 20px;
        }
        .logo-foot
        {
            top: 15px;
            position: relative;
            left: 107px;
        }
        .fdown
        {
            position: relative;
            bottom: 8px;
            left: 50px;
        }
        .foot-button
        {
            position: relative;
            top: 273px;
            width: 210px;
            left: -50px;
        }
        .foot-am
        {
            left: 134px;
            top: 115px;
        }
        .foot-cf
        {
            left: 113px;
            top: 186px;
        }
        .foot-media
        {
            left: 22px;
            top: 378px;
        }
    .YEM
    {
        position: relative;
        left: 153px;
        bottom: 208px;
    }
    .RS
    {
        position:relative;
        left: -50px;
        bottom: 158px;
    }
    .copyright
    {
        position: relative;
        bottom: 128px;
        left: -57px;
        width: 10px;
    }
    .author
    {
       margin-left: 0px;
       position: relative;
        bottom: 158px;
        left: -470px;
    }
    .content
    {
        position: relative;
        width: 1200px; 
    }
    
}