@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
nav
{
}
.navigation
{
    height: 60px;
    
}
h1{
    
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
letter-spacing: 2px;
color: #CD6326;
}
.head_wrap
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
margin-bottom: 120px;
}
.logotype
{
    display: flex;
    height: 60px;
    margin-left: 120px;
    
}
.logo
{
  
}
.fixed
{
    z-index: 2;
    width: 1440px;
    position: fixed;
}
.head_content
{
    max-width: 1200px;
    margin:0 auto;
    padding-top: 169px;
    padding-bottom: 120px;
}
.survival
{
    width: 199px;
height: 72px;
margin-bottom: 48px;
}
.latest_articles
{padding-top: 122px;
    line-height: 70px;
    height: 72px;
    width: 324px;
   font-family: 'Open Sans', sans-serif;
font-size: 48px;
text-align: center;
color: #333333;
}
.breaking_news
{

margin-top: 19px;
width: 324px;
height: 36px;
font-family: 'Open Sans', sans-serif;
font-size: 24px;
text-align: center;
color: #666666;

}
.survival_description
{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #F7F7F7;
height: 108px;
width: 274px;
line-height: 1.5;
letter-spacing:normal;
}
section{}
.middle
{
        width: 1440px;
        height: 1368px;
        background: #CCCCCC;
}
.articles
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 360px;
    max-width: 1200px;
    
    margin:0 auto;
    margin-bottom: 240px;
}
.middle_text
{
 display: flex;
    align-items: center;
   flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom: 119px;
}
.get_notified
{
    
    display: flex;
    align-items: center;
   flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
    height: 360px;
}
header
{
    width: 1440px;
    background: url(assets/Rectangle.png);
    height: 777px;
}
ul{}
.head_list
{
    display: flex;
    flex-wrap: wrap;
   max-height: 60px;
   margin-top: 15px;
}
.links_2_3_4
{
   margin-left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 505px;
}
.media
{
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 240px;
}
li{
    list-style-type: none;   
}
.lupa
{
    margin-left: 60px;
}
.blog
{
    width: 50px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
 font-size: 23px;
 color: #F7F7F7;

    
}
.contact
{
    width: 96px;
    height: 60px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
font-size: 23px;
color: #F7F7F7;
 
}
.sign_in
{
    margin-right: 120px;
margin-left: 61px;
margin-top:-10px ;

}
.link_einz
{
    height: 60px;
    width: 130px;
    font-family: 'Open Sans',sans-serif;
text-align: center;
font-size: 23px;
line-height: 60px;
color: #F7F7F7;
text-decoration: none; 
}
.zwei
{
    margin-left: -27px;
}
.media_link
{
    transition: all 0.2s ease-in;
}
.media_link:hover
{
    transform: scale(1.15);
}
.fb
{
    background-image: url(assets/facebook.svg);
}
.inst
{
    background-image: url(assets/instagram.svg);
}
.pint
{
    background-image: url(assets/pinte.svg);
}
.tg
{
    background-image: url(assets/telega.svg);
}
body {
   display: flex;
   justify-content: center;
    align-items: center;
   flex-direction: column;
    background-color: #02160b;
}
span{}
.wild
{
    height: 60px;
    width: 155px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 60px;

text-transform: uppercase;
color: #F7F7F7;
transition: transform 0.15s linear;
}
.wild_down
{
    height: 60px;
    width: 155px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 60px;

text-transform: uppercase;
color: #F7F7F7;
transition: transform 0.15s linear;
}
.wild_down:hover
{
    color: #CD6326;
     transform: rotate(360deg);
     /*a bit of trash ;)*/ 
}
.wild:hover
{
  transform: scale(1.1);
}
.get_notified_about
{
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 40px;
/* identical to box height, or 150% */

text-align: center;

/* font-dark */

color: #333333;
}
button
{}
.header_sign
{
    width: 120px;
    height: 50px;
border: 2px solid #CD6326;
box-sizing: border-box;
border-radius: 5px;
font-family: 'Roboto' sans-serif;
font-size: 23px;
background-color: transparent;
color: #F7F7F7;
padding-top: 6px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

}
.header_sign:hover {
    background: #CD6326;
    cursor: pointer;
}
.lupka
{
    background-color: transparent;
    border: 0;
    height: 32px;
    width: 32px;
    background-image: url(assets/Lupa.svg);
}
.logo_roga
{
    background-color: transparent;
    border: 0;
    background-image: url(assets/Logo.svg);
    height:60px;
    width: 70px;
    transition: all 0.25s ease-in;
}
.logo_roga:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
.lupka:hover
{
    transform: scale(1.2);
    cursor: pointer;
    stroke: tomato;
    stroke-width: 3px;
    fill: tomato;
}
.donate
{
    margin-top: 48px;
    background: #CD6326;
border-radius: 5px;
width: 160px;
height: 60px;
font-family: 'Roboto';
font-size: 23px;
justify-content: center;
border: 0;
text-align: center;
color: #F7F7F7;
}
.donate:hover {
    background: #cda026;
    transform: scale(1.06);
}
.carousel_slide
{
    border: 0;
background-color: transparent;
padding: 0;
}
.carousel_slide,.donate.header_sign,.lupka,.logo_roga:active, 
.carousel_slide,.donate,.lupka,.header_sign,.logo_roga:focus {
    outline: none;
}
.carousel_slide:hover {
    cursor: pointer;
    transform: scale(1.05);
}

figure
{}
.card
{
    height: 360px;
    width: 300px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    transition: all 0.4s ease-in;
}
.card:hover
{
    cursor: pointer;
    transform:scale(1.05);
}
figcaption
{
}.card_info
{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    width: 300px;
    /* identical to box height, or 164% */
    
    text-align: center;
    
    /* font-light */
    
    color: #F7F7F7;
}
.deer_info{
    bottom: 44px;
    left: 0px;
   
}
.squirrel_info
{
    bottom: 45px;
    left: 1px;
}.bird_info
{
    bottom: 41px;
    left: 1px;
}

h4{

}
.card_description
{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    /* identical to box height, or 164% */
    
    text-align: center;
    
    /* font-light */
    
    color: #F7F7F7;
}
.deer
{
    
    bottom: 52px;
    left: 126px;
}
.squirrel
{
    
    bottom: 53px;
    left: 110px;
}
.bird
{
   
    bottom: 48px;
    left: 130px;
}
input{

}
.input_email
{
    width: 520px;
    height: 55px;
    font-family: 'Roboto',sans-serif;
font-size: 23px;
line-height: 27px;
display: flex;
align-items: center;
padding-left: 15px;
background-color: transparent;
border-top-color: #ffffff;
border-left-color: #ffffff;
}
.input_email:hover
{ 
    font-style: italic;
}
.input_email:focus {
    outline: none;
}
.input_send
{
    font-family: 'Roboto', sans-serif;
font-size: 23px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
width: 120px;
height: 60px;
background: #CD6326;
border: 1px solid #CD6326;
border-radius: 0px 5px 5px 0px;
color: #F7F7F7;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input_send:hover
{
   cursor: pointer; 
   border-color: #cda026;
   background-color: #cda026;
}
.input_send:focus {
    outline: none;
}
form{
    
}
.email
{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
footer
{
    
    width: 1440px;
    height: 360px;
    top: 2148px;
    display: flex;
    align-items: center;
    background:url(assets/Footer.png);
}
a{

}
.media_link:hover
{
cursor: pointer;
}
.link_prop
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 60px;
    color: #f7f7f7;
    text-decoration: none;
}
.header_ref
{
    width: 50px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
 font-size: 23px;
 color: #F7F7F7;
 text-decoration: none;
}
.header_ref:hover
{
    color: #CD6326;
}
.link_prop:hover
{
    color: #CD6326;
}
.one_link
{
    height: 40px;
    width: 40px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in;
}
.one_link:hover
{
    transform: scale(1.15);
}
.up_link
{
    height: 60px;
    width: 155px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 60px;
text-transform: uppercase;
color: #F7F7F7;
text-decoration: none;
}
.up_link_down
{
    height: 60px;
    width: 155px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 60px;
text-transform: uppercase;
color: #F7F7F7;
text-decoration: none;
}
.up_link_down:hover
{
    color: #CD6326;
}
